*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p
{
    color: #a52a2a;
    text-align: center;
    color: red;
    line-height: 30px;
    
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    color: black;
}
h4{
    text-align: center;
}
a{
    color: rgb(000,255,000);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
span{
    text-decoration: underline;
}